<div class="row">
    <div class="col-xs-12 col-md-3 event-day" data-date="2018-02-13T23:59:59">
        <h2 class="text-center">Feb 13th</h2>
        {% include homepage/event_card.html time='am' link='/workshops' title='Preconference Workshops' description='Half and full-day workshops about new tech, diversity, much more!' %}
        {% include homepage/event_card.html time='pm' link='/general-info/venues/#dinner' title='Newcomer Dinner' description='It is a Code4Lib tradition to welcome those who are new to the conference' %}
    </div>
    <div class="col-xs-12 col-md-3 event-day" data-date="2018-02-14T23:59:59">
        <h2 class="text-center">Feb 14th</h2>
        {% include homepage/event_card.html time='am' link='/schedule/day-1' title='Conference, Day 1' description='Keynote #1 kicks off the conference then talks until 5' %}
        {% include homepage/event_card.html time='pm' link='/general-info/venues/#gaming' title='Game Night' description='Come join fellow code4libers in a few board or card games' %}
    </div>
    <div class="col-xs-12 col-md-3 event-day" data-date="2018-02-15T23:59:59">
        <h2 class="text-center">Feb 15th</h2>
        {% include homepage/event_card.html time='am' link='/schedule/day-2' title='Conference, Day 2' description='Talks until 5' %}
        {% include homepage/event_card.html time='pm' link='/general-info/venues/#reception' title='Reception' description='Join us for the reception at the Great Hall at the Library of Congress' %}
    </div>
    <div class="col-xs-12 col-md-3 event-day" data-date="2018-02-16T23:59:59">
        <h2 class="text-center">Feb 16th</h2>
        {% include homepage/event_card.html time='am' link='/schedule/day-3' title='Conference, Day 3' description='Keynote #2 closes the conference then talks until noon' %}
    </div>
    <div class="col-xs-12 text-center">
        <h2>Need help?</h2>
        <a href="/conduct/#officers" class="btn btn-primary btn-lg">Contact a Duty Officer</a>
    </div>
</div>