---
layout: default
title: Speakers
---

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Keynotes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 keynote-sequence sequence">
                {% assign no_keynotes = true %}
                {% for speaker in site.data.speakers %}
                    {% if speaker.keynote %}
                        {% comment %} we have at least one keynote, doesn't show placeholder {% endcomment %}
                        {% assign no_keynotes = false %}
                        {% include speaker_box.html speaker=speaker %}
                    {% endif %}
                {% endfor %}

                {% comment %} placeholder for no keynotes {% endcomment %}
                {% if no_keynotes %}
                    <div class="speaker-box text-center" id="no_keynote-id" data-speaker-info="#no_keynote-info">
                        <div class="speaker-box-inner">
                            <a href="#" class="speaker-info-toggle" data-target="#no_keynote">
                                <img class="clip-circle-lg" src="/assets/img/nopics/nopic3.jpg" alt="no image">
                            </a>
                            <div class="speaker-mini">
                                <p>The keynotes speakers for Code4Lib have not been announced yet.</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Speakers</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 speaker-sequence sequence">
            {% for speaker in site.data.speakers %}
                {% unless speaker.keynote %}
                    {% include speaker_box.html speaker=speaker %}
                {% endunless %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>
