---
layout: default
title: Schedule
categories: Schedule
---

<section id="upcoming-schedule-tasks">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-primary pull-right" href="/prospectus" style="margin-top: 30px;">Sponsor Code4Lib</a>

                <h1>What's going on?</h1>
                <p>Over the next months, we'll be finding our keynote speakers and making the presentation lineup. Keep your eye on this page for important dates!</p>
            </div>
        </div>

        <!-- register/attend -->
        {% if site.data.conf.conference-registration.show %}
        <div class="row">
                <div class="col-xs-12">
                    <h2 style="border-bottom:1px solid; padding-bottom:5px;">Attend Code4Lib 2017!</h2>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <h3>Conference Attendance</h3>
                    <a href="/attend/">Fees & additional information</a>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">December 14<sup>th</sup></small></h3>
                    {% if site.data.conf.conference-registration.url %}
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.conference-registration.url }}" target="_blank">
                    {% endif %}
                        Register!
                    {% if site.data.conf.conference-registration.url %}
                    </a>
                    {% endif %}
                </div>
        </div>
        {% endif %}

        <!-- Voting -->
        {% if site.data.conf.toggles.vote-key or site.data.conf.talk-voting.show or site.data.conf.panel-voting.show or site.data.conf.workshop-voting.show or site.data.conf.shirt-voting.show %}
        <div class="row">
            <div class="col-xs-12">
                <h2 style="border-bottom:1px solid; padding-bottom:5px;">Voting</h2>
            </div>

            <!-- Keynote -->
            {% if site.data.conf.toggles.vote-key %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Keynote Speakers</h3>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Now until Oct. 21<sup>st</sup></small></h3>
                </div>
                <div class="col-xs-6">
                    <p><a href="https://wiki.code4lib.org/2017_Keynote_Speakers_Nominations">View the Nominees</a></p>
                </div>
                <div class="col-xs-6">
                    <p><a href="{{ site.data.conf.keynote-voting-link }}" class="btn btn-primary pull-right">Vote!</a></p>
                </div>
            {% endif %}

            <!-- Talks -->
            {% if site.data.conf.talk-voting.show %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Conference Talks</h3>
                    <a href="/talks/proposed-talks.html">View Proposed Talks</a>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Nov. 16<sup>th</sup> to Dec. 7<sup>th</sup></small></h3>
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.talk-voting.url }}" target="_blank">Vote!</a>
                </div>
            {% endif %}

            <!-- Panel -->
            {% if site.data.conf.panel-voting.show %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Conference Panel</h3>
                    <a href="/panels/index.html">View Proposed Panels</a>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Nov. 16<sup>th</sup> to Dec. 7<sup>th</sup></small></h3>
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.panel-voting.url }}" target="_blank">Vote!</a>
                </div>
            {% endif %}

            <!-- Workshops -->
            {% if site.data.conf.workshop-voting.show %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Preconference Workshops</h3>
                    <a href="/workshops/proposed-workshops.html">View Proposed Workshops</a>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Now until Nov. 28<sup>th</sup></small></h3>
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.workshop-voting.url }}" target="_blank">Vote!</a>
                </div>
            {% endif %}

            <!-- T-shirt Logos -->
            {% if site.data.conf.shirt-voting.show %}
                <div class="col-xs-12 col-sm-7">
                    <h3>T-shirt Logos</h3>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">TBD</small></h3>
                    <a class="btn btn-primary btn-lg" href="{{ site.data.conf.shirt-voting.url }}" target="_blank">Vote!</a>
                </div>
            {% endif %}
        </div>
        {% endif %}

        <!-- Proposals -->
        <div class="row">

            <div class="col-xs-12">
                <h2 style="border-bottom:1px solid; padding-bottom:5px;">Proposals</h2>
            </div>

            <!-- T-shirts -->
            {% if site.data.conf.shirt-proposals.show %}
                <div class="col-xs-12 col-sm-7">
                    <h3>T-shirt Logos</h3>
                    <a href="https://wiki.code4lib.org/2017_Code4Lib_T-Shirt_Design_Competition">View the logo submissions</a>
                </div>
            {% endif %}

            <!-- Talks -->
            {% if site.data.conf.talk-proposals.show %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Conference Talks</h3>
                    <a href="/about/propose-a-talk.html">About Talk Proposals</a>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Now until Nov. 7<sup>th</sup></small></h3>
                        <a class="btn btn-primary" href="{{ site.data.conf.talk-proposals.submission-form }}">Propose a Talk</a>
                        <a class="btn btn-primary" href="{{ site.data.conf.panel-proposals.submission-form }}">Propose a Panel</a>
                </div>
            {% endif %}

            <!-- Workshops -->
            {% if site.data.conf.workshop-proposals.show %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Preconference Workshops</h3>
                    <a href="/about/propose-a-workshop.html">About Preconference Workshops</a>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <h3><small class="light">Now until Nov. 8<sup>th</sup></small></h3>
                    <a class="btn btn-primary" href="{{ site.data.conf.workshop-proposals.submission-form }}">Propose a Workshop</a>
                </div>
            {% endif %}

            <div class="col-xs-12">
                <h2 style="border-bottom:1px solid; padding-bottom:5px;">Passed Deadlines</h2>
            </div>

            {% unless site.data.conf.workshop-proposals.show %}
            <div class="col-xs-12 col-sm-7">
                <h3>Preconference Workshops</h3>
                <a href="/about/propose-a-workshop.html">About Preconference Workshops</a>
            </div>
            <div class="col-xs-12 col-sm-5 text-right">
                <!-- <h3><small class="light">Nov. 8<sup>th</sup></small></h3> -->
            </div>
            {% endunless %}

            {% unless site.data.conf.talk-proposals.show %}
            <div class="col-xs-12 col-sm-7">
                <h3>Conference Talks</h3>
                <a href="/about/propose-a-talk.html">About Talk Proposals</a>
            </div>
            <div class="col-xs-12 col-sm-5 text-right">
                <!-- <h3><small class="light">Nov. 7<sup>th</sup></small></h3> -->
            </div>
            {% endunless %}

            {% unless site.data.conf.toggles.vote-key %}
                <div class="col-xs-12 col-sm-7">
                    <h3>Keynote Speakers</h3>
                </div>
                <div class="col-xs-12 col-sm-5 text-right">
                    <!-- <h3><small class="light">Oct. 21<sup>st</sup></small></h3> -->
                </div>
                <div class="col-xs-6">
                    <p><a href="https://wiki.code4lib.org/2017_Keynote_Speakers_Nominations">View the Nominees</a></p>
                </div>
            {% endunless %}

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>12 years of keynote presentations!</h2>
                {% include presentation_timeline_past.html param="past" %}
            </div>
        </div>
    </div>
</section>
