<p>
  Code4Lib 2017 is now over, but you can contact the duty officers during
  the next couple weeks if you wish to report an incident after the fact
  or if you have questions or comments about how the code of conduct
  was applied duing the conference. To do so, you can:
  <ul>
    <li>Send an email to <a href="mailto:c4l17-duty-officers@googlegroups.com">c4l17-duty-officers@googlegroups.com</a>. Only Duty Officers are subscribed to this mailing list, and no archive is kept.</li>
    <li>Use the <code>/dutyofficers</code> command on the <a href="https://code4lib.slack.com/">Code4lib Slack team.</a></li>
    <li>Use the <a href="https://c4l17.libraryexchange.org/">anonymous report form</a>.</li>
  </ul>
</p>
