

<section id="cd-timeline" class="cd-container">
    {% for event in include.events | sort: "time" %}
        <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <img src="/assets/img/clockface/{{ event.timeImg }}">
            </div>

            <div class="cd-timeline-content">
                <div class="row">
                    <div class="col-sm-7 col-xs-12">
                        {% if event.groupId == 'key-open' %}
                            {% assign keynote = site.posts | where:"group",event.groupId %}
                            <h2><a href="{{ keynote[0].url }}">{{ event.title }}</a></h2>
                        {% elsif event.groupId == 'key-close' %}
                            {% assign keynote = site.posts | where:"group",event.groupId %}
                            <h2><a href="{{ keynote[0].url }}">{{ event.title }}</a></h2>
                        {% else %}
                            <h2>
                            {{ event.title }}
                            {% if event.title == "Lunch" %}
                                &nbsp;
                                <a href="/schedule/food/{{ include.menuDay }}-menus.html#Lunch" class="btn btn-primary" >View Menu</a>
                            {% elsif event.title == "Registration/Breakfast" %}
                                &nbsp;
                                <a href="/schedule/food/{{ include.menuDay }}-menus.html#Breakfast" class="btn btn-primary" >View Menu</a>
                            {% elsif event.title == "Break" %}
                                &nbsp;
                                <a href="/schedule/food/{{ include.menuDay }}-menus.html#Snacks" class="btn btn-primary" >View Menu</a>
                            {% endif %}
                            </h2>
                        {% endif %}
                    </div>
                    <div class="col-sm-5 col-xs-12 text-right">
                        <h2>{{ event.time }}</h2>
                    </div>
                </div>
                {% if event.groupId %}
                    {% assign talks = site.posts | where:"group",event.groupId | sort:"spot" %}
                    {% for talk in talks %}
                        <div class="row talk-row">
                            <div class="col-xs-12">
                                {% if event.groupId == 'key-open' %}
                                {% elsif event.groupId == 'key-close' %}
                                {% else %}
                                    <h4><a href="{{ talk.url }}">{{ talk.title }}</a></h4>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 hidden-xs">
                                {% for speakerId in talk.speakers %}
                                    {% assign speaker = site.data.speakers | where:"id", speakerId %}
                                    {% if speaker %}
                                        <div class="col-sm-3 text-center">
                                            <a href="/speakers/#{{ speaker.id }}">
                                                <img class="clip-circle-speaker" src="{{ speaker.image-url }}" alt="{{ speaker.name }}">
                                                {% if event.groupId != 'key-open' and event.groupId != 'key-close' %}
                                                    <span>{{ speaker.name }}</span>
                                                {% endif %}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="clearfix"></div>

            </div>
        </div> <!-- cd-timeline-block -->
    {% endfor %}
</section> <!-- cd-timeline -->
