---
layout: secondary-nav
title: Venue
nav: conduct
subnav:
- name: Emergency
  url: '#emergency'
- name: Duty Officers
  url: '#officers'
- name: Photography Policy
  url: '#photography'
active: 'Conduct & Safety'
---

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="page-header" id="#conduct">
                <h1>Conduct & Safety</h1>
            </div>

            <h2>Code4Lib Community Code of Conduct</h2>

            <blockquote>
                <p>
                    Code4Lib seeks to provide a welcoming, fun, and safe community and conference experience and ongoing
                    community for everyone. We do not tolerate harassment in any form. Discriminatory language and imagery
                    (including sexual) is not appropriate for any event venue, including talks, or any community channel such
                    as the chatroom or mailing list.
                </p>

                <p>
                    Harassment is understood as any behavior that threatens another person or group, or produces an unsafe
                    environment. It includes offensive verbal comments or non-verbal expressions related to gender, gender
                    identity, gender expression, sexual orientation, disability, physical appearance, body size, race, age,
                    religious beliefs, sexual or discriminatory images in public spaces (including online), deliberate
                    intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or
                    other events, inappropriate physical contact, and unwelcome sexual attention.
                </p>

                <cite title="Source Title">—CodeOfConduct4Lib</cite>
            </blockquote>

            <p class="lead text-center">
                <a href="https://github.com/code4lib/antiharassment-policy/blob/master/code_of_conduct.md">
                    &#10163; Read and contribute to our full Code of Conduct document on GitHub
                </a>
            </p>

            <div class="row">
                <div class="col-md-12">
                    <h2 id="emergency">Emergency Resources</h2>

                    {% comment %}
                    <div class="col-md-12">
                    <h2>Duty Officers (Code of Conduct)</h2>
                    <p>
                        To contact a Duty Officer, you can call or text <a href="tel:6782188064">678-218-8064</a>.
                        Other ways of contacting Duty Officers can be found on the <a href="/duty-officers">Duty Officers</a> page.
                    </p>

                    <h2>Conference organizers and general assistance</h2>
                    <ul>
                        <li>Code4Lib 2017 general assistance — <a href="mailto:code4lib@library.ucla.edu">code4lib@library.ucla.edu</a></li>
                        <li>Luskin Center general information — <a href="tel:310-206-8585">310-206-8585</a></li>
                    </ul>

                    <h2>UCLA Police Department</h2>
                    <p>
                        Emergency: 911 • Non-emergency: <a href="tel:3108251491">310-825-1491</a> • Anonymous reporting line <a href="tel:3107945824">310-794-5824</a>
                    </p>
                    <h2>Los Angeles Police Department</h2>
                    <p>
                        Emergency: 911 • Non-emergency: <a href="tel:8772755273">877-275-5273</a> • Anonymous reporting line <a href="tel:8775273247">877-527-3247</a>
                    </p>
                    <h2>Santa Monica Police Department</h2>
                    <p>
                        Emergency: 911 • Non-emergency: <a href="tel:3104588491">310-458-8491</a> • Anonymous reporting line <a href="tel:3104588449">310-458-8449</a>
                    </p>
                    <h2>Beverly Hills Police Department</h2>
                    <p>
                        Emergency: 911 • Non-emergency: <a href="tel:3105504951">310-550-4951</a>
                    </p>
                    <h2>Rape Treatment Center At Santa Monica-UCLA Medical Center</h2>
                    <p>
                        Medical and counseling services available 24 hours a day for sexual assault survivors.

                        Call <a href="tel:4242596700">424-259-6700</a> or visit <a href="http://rapetreatmentcenter.org/">www.rapetreatmentcenter.org</a>.
                    </p>
                    <h2>Hospital - Emergency</h2>
                    <p>
                        Ronald Reagan UCLA Medical Center
                        <br><a href="https://www.google.com/maps/place/757+Westwood+Plaza,+Los+Angeles,+CA+90095/@34.0664494,-118.4485258,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2bc85d0409e2f:0x920fbed33c720b61!8m2!3d34.0664494!4d-118.4463318">757 Westwood Plaza, Los Angeles</a>
                        <br>Emergency Department: <a href="tel:3108252111">310-825-2111</a>
                    </p>

                    <h2>Urgent Care</h2>
                    <p>
                        Brentview Medical Urgent Care
                        <br><a href="https://www.google.com/maps/place/11611+San+Vicente+Blvd,+Los+Angeles,+CA+90049/@34.0542075,-118.4714059,15z/data=!4m5!3m4!1s0x80c2bc9ffe82fc25:0x36f329a9f2b89d0b!8m2!3d34.0542075!4d-118.4626458">11611 San Vicente Boulevard, Los Angeles 90049</a>
                        <br>Phone: <a href="tel:3108200013">310-820-0013</a>
                        <br>Monday-Friday: 8am-8pm • Saturday-Sunday: 9am-5pm
                    </p>
                    <h2>Crisis Counseling</h2>
                    <p>
                        <ul>
                            <li>Didi Hirsch Mental Health Services
                                Short-term crisis counseling and crisis intervention. Open to anyone. Cost is based on ability to pay.
                                <br><a href="https://www.google.com/maps/place/4760+Sepulveda+Blvd,+Culver+City,+CA+90230/@34.0016383,-118.4059676,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2ba1a101f4643:0x552efa3198b89d77!8m2!3d34.0016383!4d-118.4037736">4760 South Sepulveda Boulevard, Culver City 90230</a>
                                <br>Phone: <a href="tel:3103906612">310-390-6612</a></li>

                            <li>Didi Hirsch Suicide Prevention Center:  <a href="tel:8777274747">877-727-4747</a></li>
                            <li>National Suicide Prevention Lifeline: <a href="tel:8002738255">800-273-8255</a></li>
                        </ul>
                    </p>
                    <h2>American Civil Liberties Union</h2>
                    <p>
                        <li>ACLU Southern California Chapter: <a href="https://www.aclusocal.org/en/seeking-legal-help-aclu">Request legal help</a> • <a href="tel:2139779500">213-977-9500</a></li>
                    </p>
                    <h2>UCLA Community Service Officers (CSOs)</h2>
                    <p>
                        CSO escorts are available free of charge to walk with students,
                        faculty, staff, or visitors 365 days a year from dusk until 1 a.m.
                        between campus buildings, local living areas, or Westwood Village
                        within the approximate boundaries of Sunset Boulevard to the north,
                        Hilgard to the east, Wilshire to the South, and Veteran to the West.
                        Call 310-794-WALK (<a href="tel:310-794-9255">310-794-9255</a>) 15 minutes before you need to leave
                        to request a CSO escort.
                    </p>
                    <h2>Taxi Services</h2>
                    <p>
                        Beverly Hills Cab Company: <a href="tel:8002736611">800-273-6611</a> • L.A. Yellow Cab: <a href="tel:4242222222">424-222-2222</a>
                    </p>
                    </div>
                    {% endcomment %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 id="officers">Duty Officers</h2>

                    <p>
                        During all days of the conference, including pre-conference and sponsored evening activities,
                        there will be <a href="http://wiki.code4lib.org/Duty_Officers">Duty Officers</a> available to
                        help provide support for anyone who has been harassed, threatened, abused, or feels the
                        <a href="https://github.com/code4lib/antiharassment-policy/blob/master/code_of_conduct.md">CodeOfConduct4Lib</a>
                        has been violated during the conference. Below is a list of all duty officers, their photos,
                        and the times they will be "on duty".
                    </p>

                    <h3>Contacting a Duty Officer</h3>

                    <p>
                      To contact a duty officer, you can
                      <ul>
                        <li>Send an email to <a href="mailto:c4l17-duty-officers@googlegroups.com">c4l17-duty-officers@googlegroups.com</a>. Only Duty Officers are subscribed to this mailing list, and no archive is kept.</li>
                        <li>Use the <code>/dutyofficers</code> command on the <a href="https://code4lib.slack.com/">Code4lib Slack team.</a></li>
                        <li>Use the <a href="https://c4l17.libraryexchange.org/">anonymous report form</a>.</li>
                      </ul>
                    </p>

                    <div class="row">
                    {% for officer in site.data.duty-officers %}
                        <div class="col-md-4">
                            <div class="speaker-box text-center">
                                <div class="speaker-box-inner">
                                    <img class="clip-circle-lg" src="/{{ officer.img }}" alt="{{ officer.name }}">
                                    <h3 class="speaker-name">{{ officer.name }}</h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                    <h3>Duty Officer Schedule</h3>
                    {% for session in site.data.duty-officer-schedule %}
                        <h2>{{ session.title }}</h2>
                        <div class="row">
                            <div class="col-xs-12 keynote-sequence sequence">
                                {% if session.all-hands %}
                                    <p><strong>All duty officers attending the event &mdash; look for the black lanyards!</strong></p>
                                {% else %}
                                    {% for officerId in session.officers %}
                                    {% assign officer = site.data.duty-officers | where: "id", officerId | first %}
                                    <div class="speaker-box text-center">
                                        <div class="speaker-box-inner">
                                            <img class="clip-circle-lg" src="/{{ officer.img }}" alt="{{ officer.name }}">
                                            <h3 class="speaker-name">{{ officer.name }}</h3>
                                        </div>
                                    </div>
                                    {% endfor %}
                                 {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 id="photography">Photography Policy</h2>

                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
