---
layout: default
title: Newcomer Dinner
---
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Newcomer Dinner</h1>

                {% comment %}
                <p><strong>When: </strong>Monday, March 6th</p>
                <p>The Newcomer Dinner is an opportunity for veterans of the
                code4lib conference to meet and welcome first-timers. Attendees
                sign up to join others for dinner the night before the main
                sessions of conference begin. The conference organizers have created a <a href="#restaurant-list">list of potential restaurants</a>, which you can browse below. You can then sign up for a restaurant (or even add a new venue) using the Google Doc Sign Up Sheet.
                </p>
                <p>
                  <a class="btn btn-default" href="https://docs.google.com/document/d/1UCLr7wdwDyJaJ77naTUwYmqGzngYiZprgK7T4w8to4c/edit?usp=sharing">Sign-up for the Newcomer Dinner</a>
                </p>
                </p>
                <p>To get a sense of the locations and neighborhoods, you can check out the
                <a target="blank" href="https://drive.google.com/open?id=11dBRFfMhYump8B5nCznsx-iVFVs&amp;usp=sharing">Activities Map</a>.
                </p>
                {% endcomment %}

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2>Transportation</h2>

                {% comment %}
                <p>Attendees must arrange for their own transportation to the
                restaurants. Some of them are within walking distance. For those
                that are not, we recommend <strong>carpooling</strong> with a local,
                calling a <strong>taxi</strong>, using a <strong>ride share</strong>
                service, or taking the <strong>bus</strong>. Below are some public
                transit options for the various neighborhoods noted in the restaurant
                list.</p>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Westwood
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <p>Several of the restaurants in Westwood are within walking distance of the conference center. However, if you decide to dine at one of the locations further south, you will want to take the Big Blue Bus.</p>
                        <p><strong>Travel Time: </strong>Approximately 5-20 minutes (walking or bus)</p>
                        <p><strong>Lines:</strong>
                            <ul>
                                <li><a href="https://www.bigbluebus.com/Routes-and-Schedules/Route-1.aspx">Big Blue Bus: Line 1</a></li>
                                <li><a href="https://www.bigbluebus.com/Routes-and-Schedules/Rapid-12.aspx">Big Blue Bus Rapid 12</a> (to get further south on Westwood Blvd.)</li>
                            </ul>
                        </p>
                        <p><strong>Directions: </strong>Walk approximately .5 miles to board at Westwood Blvd and Weyburn Avenue. For the return trip, deboard at Westwood Blvd and Le Conte (pay close attention to when the last bus stops in Westwood. It is different for each system and each line within the system).</p>
                        <p><strong>Fare: </strong>$1.25 (each way)
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Sawtelle &amp; Brentwood
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <p><strong>Travel Time: </strong>Approximately 15 min. (Taxi) / 25 min. (Bus)</p>
                        <p>If you are heading toward Sawtelle or Brentwood via bus, you will want to take the Big Blue Bus: Line 1 or Culver City Bus: Line 6. These will take you close to Sawtelle, with a short walk to reach the dining area.</p>
                        <p>
                            <a href="https://www.bigbluebus.com/Routes-and-Schedules/Route-1.aspx">Big Blue Bus: Line 1</a>
                            <dl>
                                <dt>Fare: </dt><dd>$1.25 (each way)</dd>
                                <dt>Directions: </dt><dd>Walk approximately .5 miles to board at Westwood Blvd and Weyburn Avenue. For the return trip, deboard at Westwood Blvd and Le Conte (pay close attention to when the last bus stops in Westwood. It is different for each system and each line within the system).</dd>
                            </dl>
                        </p>
                        <p>
                            <a href="http://www.culvercity.org/enjoy/culver-city-bus/maps-schedules/line-6-sepulveda-blvd">Culver City Bus: Line 6</a>
                            <dl>
                                <dt>Fare: </dt><dd>$1.00 (each way)</dd>
                                <dt>Directions: </dt><dd>Walk approximately .5 miles to board at Westwood Blvd and Weyburn Avenue. For the return trip, deboard at Westwood Plaza</dd>
                            </dl>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Santa Monica &amp; Venice
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <p><strong>Travel Time: </strong>Approximately 25 min. (Taxi) / 50 min. (Bus)</p>
                        <p>If you are heading to either Santa Monica or Venice via bus, you will want to take the Big Blue Bus Line 1 or Line 18.</p>
                        <p>
                            <a href="https://www.bigbluebus.com/Routes-and-Schedules/Route-1.aspx">Big Blue Bus: Line 1</a>
                            <dl>
                                <dt>Directions: </dt><dd>Walk approximately .5 miles to board at Westwood Blvd and Weyburn Avenue. For the return trip, deboard at Westwood Blvd and Le Conte (pay close attention to when the last bus stops in Westwood. It is different for each system and each line within the system).</dd>
                                <dt>Fare: </dt><dd>$1.25 (each way)</dd>
                            </dl>
                        </p>
                        <p>
                            <a href="https://www.bigbluebus.com/Routes-and-Schedules/Route-18.aspx">Big Blue Bus: Line 18</a>
                            <dl>
                                <dt>Directions: </dt><dd>Walk approximately .5 miles to board at Westwood Blvd and Weyburn Avenue. For the return trip, deboard at Westwood Blvd and Le Conte (pay close attention to when the last bus stops in Westwood. It is different for each system and each line within the system).</dd>
                                <dt>Fare: </dt><dd>$1.25 (each way)</dd>
                            </dl>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Miracle Mile / Fairfax / WeHo
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <p><strong>Travel Time: </strong>Approximately 25 min. (Taxi)</p>
                        <p>We recommend making use of carpools, rideshares, or taxis to get to this neighborhood.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Koreatown
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <p><strong>Travel Time: </strong>Approximately 30 min. (Taxi)</p>
                        <p>We recommend making use of carpools, rideshares, or taxis to get to this neighborhood.</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endcomment %}

            </div>
        </div>
    </div>
</section>

<section id="restaurant-list">
    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <h2>Restaurant List</h2>
                <p>This is not an exhaustive list. Feel free to add more on the sign-up sheet.</p>
                {% comment %}
                <table id="dinner-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="20%">Name</th>
                            <th>Type</th>
                            <th>Neighborhood</th>
                            <th>Distance</th>
                            <th>Takes<br/>Reservations?</th>
                            <th>Vegetarian<br/>Friendly?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restaurant in site.data.dinner %}
                        <tr>
                            <td>
                              {% if restaurant.url != 'n/a' %}
                                <a href="{{restaurant.url}}">{{ restaurant.name }}</a>
                              {% else %}
                                {{ restaurant.name }}
                              {% endif %}
                            </td>
                            <td>{{ restaurant.type }}</td>
                            <td>{{ restaurant.hood }}</td>
                            <td>{{ restaurant.dist }}</td>
                            <td>{{ restaurant.res }}</td>
                            <td>{{ restaurant.veg }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endcomment %}
            </div>
        </div>
    </div>
</section>
