{% include header.html %}
{% include search_results.html %}

{% if page.type == 'workshop' %}
    {% assign pageDate = page.date %}
    {% assign pageLength = 'empty' %}
    {% if page.time == 'full' %}
        {% assign pageLength = '9:30-5:30 (w/ lunch break)' %}
    {% elsif page.time == 'am' %}
        {% assign pageLength = '9:30-12:30' %}
    {% elsif page.time == 'pm' %}
        {% assign pageLength = '2:30-5:30' %}
    {% endif %}
{% endif %}

{% if page.type == 'talk' or page.type == 'key-open' or page.type == 'key-close' or page.type == 'poster' %}
    {% assign pageDate = page.startTime %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <h1>{{ page.title }}{% if page.full == true %}<small class="text-danger">This workshop is full</small>{% endif %}</h1>
            {{ content }}
            {% if page.speakers.length > 0 %}
                {% include presentations/speakers.html speaker_ids=page.speakers %}
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 text-center">
            <div class="row talk-detail-box">
                <!-- date -->
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <!--<h3>Date</h3>-->
                    {% if page.type == 'talk' or page.type == 'key-open' or page.type == 'key-close' %}
                        <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-calendar"></span></div>
                        <div class="talk-box-detail-value"> <a href="/schedule/day-{{page.day}}">{{ pageDate | date: "%B %e" }}{% include date_ordinals.html date=pageDate %}</a></div>
                    {% else %}
                        <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-calendar"></span></div>
                        <div class="talk-box-detail-value"> <a href="/workshops">{{ pageDate | date: "%B %e" }}{% include date_ordinals.html date=pageDate %}</a></div>
                    {% endif %}
                </div>

                <!-- time of day for presentations -->
                {% if page.type == 'workshop' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-slot">
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                    <div class="talk-box-detail-value">{{ pageLength }}</div>
                </div>
                {% elsif page.type == 'poster' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-slot">
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                    <div class="talk-box-detail-value">{{ page.startTime | date: "%I:%M %p" }}</div>
                </div>
                {% endif %}

                <!-- building for workshops -->
                {% if page.type == 'workshop' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-length">
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-map-marker"></span></div>
                    <div class="talk-box-detail-value">
                        Room: {{ page.location }}
                    </div>
                </div>
                {% elsif page.type == 'poster' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-length">
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-map-marker"></span></div>
                    <div class="talk-box-detail-value">
                        Room: Lobby
                    </div>
                </div>
                {% endif %}

                <!-- group -->
                {% if page.type == 'talk' or page.type == 'key-open' or page.type == 'key-close' %}
                {% assign group_data = site.data.schedule | where:'groupId', page.group %}
                {% assign group = group_data | first %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-slot">
                    <!--<h3>Group {{ page.group }}
                    <p>{{ group.time }}</p></h3>-->
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-time"></span></div>
                    <div class="talk-box-detail-value">{{ page.startTime | date: "%I:%M %p" }}</div>

                </div>
                {% endif %}

                <!-- length -->
                {% if page.type == 'talk' or page.type == 'key-open' or page.type == 'key-close' %}
                <div class="col-xs-12 col-sm-12 col-md-12 time-length">
                    <!--<h3>Length</h3>
                    <p>{{ page.length }} minutes</p>-->
                    <div class="talk-box-detail-icon"><span class="glyphicon glyphicon-hourglass"></span></div>
                    <div class="talk-box-detail-value">  {{ page.length }} minutes</div>
                </div>
                {% endif %}


            </div>
            <!-- slides -->
            {% if page.slides %}
            <div class="talk-box-detail-value"><a href="{{ page.slides }}" class="btn btn-default btn-lg col-sm-12">
              <span class="glyphicon glyphicon-blackboard"></span>&nbsp;View Slides</a></div>
            {% endif %}
        </div>
        <div class="col-xs-12">
            {% if page.type === 'workshop' %}
            <h2>Workshop location</h2>
            <div style="margin: auto; max-width: 600px;" class="embed-responsive embed-responsive-4by3">
                <iframe src=""></iframe>
            </div>
        </div>
    </div>
</div>
